#active-cycle-container
{
  height:400px;
  position: relative;
}

#activeCycleSummaryView
{
  left:0;
  height:50%;
  width:50%;
  background-color: blue;
  
  position: absolute;
}

#activeCycleBucketsSummaryView
{
  right:0px;
  height:50%;
  width:50%;
  background-color: green;
  
  position: absolute;
}

#activeCycleSavingsSummaryView
{
  left:0px;
  bottom: 0px;
  height:50%;
  width:50%;
  background-color: orange;
  
  position: absolute;
}

#active-cycle-buffer-container
{
  right:0px;
  bottom: 0px;
  height:50%;
  width:50%;
  background-color: plum;
  
  position: absolute;
}

#plus-entry-button-container 
{
  width: 100px;
	height: 100px;
	background-color: red;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
	margin: auto;
}

#new-entry-container
{
  background-color: gray;
  width:300px;
  height:300px;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin:auto;
}

#newEntryCloseX
{
  position: absolute;
  top:0;
  right:0;
  background-color: white;
  height: 10px;
  width: 10px;
}

#entrySaveButtonContainer
{
  position: absolute;
  bottom:0;
  right:0;
}

.summaryLabel
{
  color:white;
}